@page "/my/info"

<TeamsApplication RequireScopes="User.Read">
    <ApplicationTemplate>
        <UserInfoView Context="context" />
    </ApplicationTemplate>
    <LoadingTemplate>
        <p>Loading...</p>
    </LoadingTemplate>
</TeamsApplication>
