@page "/my/info"

<TeamsApplication RequireScopes="User.Read">
    <ApplicationTemplate>
        <UserInfoView Context="context" />
    </ApplicationTemplate>
    <InitializationFailedTemplate>
        <p>An error occurred during initialization.</p>
        <pre>@context.ToString()</pre>
    </InitializationFailedTemplate>
    <LoadingTemplate>
        <p>Loading...</p>
    </LoadingTemplate>
</TeamsApplication>
