@page "/my/mail"

<TeamsApplication RequireScopes="User.Read,Mail.Read">
    <ApplicationTemplate>
        <MailView Context="context" />
    </ApplicationTemplate>
    <LoadingTemplate>
        <p>Loading...</p>
    </LoadingTemplate>
</TeamsApplication>
