@page "/mycalendar"

<TeamsApplication RequireScopes="User.Read,Calendars.Read">
    <ApplicationTemplate>
        <h2>My Calendar...</h2>
    </ApplicationTemplate>
    <LoadingTemplate>
        <p>Loading...</p>
    </LoadingTemplate>
</TeamsApplication>
