@page "/personal"

<TeamsApplication RequireDefaultScopes="true">
    <ApplicationTemplate Context="ctx">
        <UserInfoView Context="ctx" />
    </ApplicationTemplate>
    <HostNotAvailableTemplate>
        <p>
            This application is designed to be run inside of Microsoft Teams.
        </p>
    </HostNotAvailableTemplate>
    <LoadingTemplate>
        Loading...
    </LoadingTemplate>
</TeamsApplication>