@page "/personal"

<TeamsApplication RequireAuthentication="true">
    <ApplicationTemplate Context="ctx">
        <h2>Basic Profile Info for @ctx.AuthResult.Claims.First(x => x.Type == "name").Value</h2>
        <UserInfoView Context="ctx" />
    </ApplicationTemplate>
    <HostNotAvailableTemplate>
        <p>
            This application is designed to be run inside of Microsoft Teams.
        </p>
    </HostNotAvailableTemplate>
    <LoadingTemplate>
        Loading...
    </LoadingTemplate>
</TeamsApplication>