@page "/TabAppRemove"

@code {
    ApplicationContext Context;


    [JSInvokable]
    public async Task RemovingAsync(Dictionary<string, object> data)
    {
        // This method is called by Blazorade Teams when the user has clicked the Remove button,
        // but before Teams has removed the tab.
        // Here you can do whatever actions you need to do to get your application removed, like
        // removing settings or data storage, for instance.
    }

    private async Task ValidityChangedAsync(ChangeEventArgs e)
    {
        await this.Context.TeamsInterop.Settings.RegisterOnRemoveHandlerAsync(this.RemovingAsync);

        var isValid = (bool)e.Value;
        await this.Context.TeamsInterop.Settings.SetValidityStateAsync(isValid);
    }
}
<TeamsApplication RequireAuthentication="true">
    <ApplicationTemplate>
        @{
            this.Context = context;
            this.Context.TeamsInterop.Settings.RegisterOnRemoveHandlerAsync(this.RemovingAsync);
        }

        <label>
            <input type="checkbox" @onchange="this.ValidityChangedAsync" />
            <span>You sure you want to remove your tab application?</span>
        </label>
    </ApplicationTemplate>
</TeamsApplication> 